<%- include('header')%>

<main>
	<section>
		<div class="container">
			<div class="row">
				<h2>Portfolio</h2>
			</div>

			<div class="row">

				<div class="card-deck">

					<div class="card">
						<a href="/tipcalculator">
							<div class="card-body">
								<h5 class="card-title text-center">TIP CALCULATOR</h5>
								<p class="card-text">This is a longer card with supporting text below as a natural lead-in to
									additional
									content. This content is a little bit longer.</p>
							</div>
						</a>
					</div>

					<div class="card">
						<a href="/rockpaperscissors">
							<div class="card-body">
								<h5 class="card-title text-center">ROCK/PAPER/SCISSORS</h5>
								<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
							</div>
						</a>
					</div>

					<div class="card">
						<a href="/budgety">
							<div class="card-body">
								<h5 class="card-title text-center">BUDGETY</h5>
								<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
							</div>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<h2>About</h2>
			</div>
		</div>
	</section>
</main>

<%- include('footer')%>