<%- include('header')%>

<div class="container">
  <div class="row">
    <h2>Portfolio</h2>
  </div>

  <div class="row">

    <div class="card-deck">
      
      <div class="card">
        <a href="/tipcalculator">
          <div class="card-body">
            <h5 class="card-title">Tip calculator</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            </div>
          </a>
        </div>
        
        <div class="card">
          <a href="/rockpaperscissors">
            <div class="card-body">
              <h5 class="card-title">Rock / Paper / Scissors</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
          </a>
        </div>
        
        <div class="card">
          <a href="/budgety">
            <div class="card-body">
              <h5 class="card-title">Budgety</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
          </a>
        </div>
        
      </div>
    </div>
</div>

<%- include('footer')%>