<%- include("header")%>

<div class="container">

	<div class="row">
		<h2>Rock / Paper / Scissors</h2>
	</div>
	<div class="row">
	
		<div class="col-md-4">
			<h3>User choice:</h3>
			<form>
	
				<div class="form-row">
					<div class="form-group">
						<label for="rock">Rock</label>
						<input type="radio" name="choice" id="rock">
					</div>
				</div>
	
				<div class="form-row">
					<div class="form-group">
						<label for="paper">Paper</label>
						<input type="radio" name="choice" id="paper">
					</div>
				</div>
	
				<div class="form-row">
					<div class="form-group">
						<label for="scissors">Scissors</label>
						<input type="radio" name="choice" id="scissors">
					</div>
				</div>
				
			</form>
		</div>
		
		<div class="col-md-4">
			<h3>Computer's choice:</h3>
			<p id="computerChoice"></p>
		</div>
		
		<div class="col-md-4">
			<h3>Result:</h3>
			<p id="winner"></p>
		</div>
		
		<div class="row">
			<div class="col-md-12 text-center">
				<button type="button" onclick="play()"> lahheb</button>
			</div>
		</div>

	</div>	
</div>

<script src="js/rockpaperscissors.js"></script>
<%- include("footer")%>