<%- include("header")%>
<style>
	.slidecontainer {
				width: 100%;
		}
		
		.slider {
				-webkit-appearance: none;
				width: 100%;
				height: 15px;
				border-radius: 5px;
				background: #d3d3d3;
				outline: none;
				opacity: 0.7;
				-webkit-transition: .2s;
				transition: opacity .2s;
		}
		
		.slider:hover {
				opacity: 1;
		}
		
		.slider::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				background: #4CAF50;
				cursor: pointer;
		}
		
		.slider::-moz-range-thumb {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				background: #4CAF50;
				cursor: pointer;
		}
		</style>

<main>
	<section>
		<div class='container'>

			<div class="row">
				<h2>Tip Calculator</h2>
			</div>

			<div class="row">
				<div class="col-md-6">
					<input id="billSum" type="text">
					<p>Tip percent: <span id="tipPercent"></span> %</p>
					<p>Tip result: <span id="tipResult"></span></p>
					<p>Total sum <span id="total"></span></p>
				</div>
	
				<div class="col-md-6">
					<div class="slidecontainer">
						<input class='slider' id="tipPercentage" type="range" value="5" min="5" max="30" step="5">
					</div>
				</div>
			</div>

		</div>
	</section>
</main>



<script src="/js/tipCalculator.js"></script>

<%- include("footer")%>