$colors: (primary: blue,
secondary: blue,
whiteText: white,
blackText: black,
grayText: gray);

@-webkit-keyframes bgEasy {
  0% {
    background-position: 92% 0%
  }

  50% {
    background-position: 9% 100%
  }

  100% {
    background-position: 92% 0%
  }
}

@-moz-keyframes bgEasy {
  0% {
    background-position: 92% 0%
  }

  50% {
    background-position: 9% 100%
  }

  100% {
    background-position: 92% 0%
  }
}

@keyframes bgEasy {
  0% {
    background-position: 92% 0%
  }

  50% {
    background-position: 9% 100%
  }

  100% {
    background-position: 92% 0%
  }
}

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

header {
  height: 50vh;
  width: auto;

  color: map-get($colors, whiteText);

  text-transform: uppercase;

  background: linear-gradient(219deg, #00b0a3, #8700aa);
  background-size: 400% 400%;

  -webkit-animation: bgEasy 21s ease infinite;
  -moz-animation: bgEasy 21s ease infinite;
  animation: bgEasy 21s ease infinite;

}

.container-fluid {
  padding: 0px !important;
}

.mainAction {
  position: relative;
  top: 25%;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
}

section {
  padding-top: 35px;
  padding-bottom: 35px;
}

.card:hover{
  box-shadow: 5px 5px 20px rgb(230, 230, 230);
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  
  a{
    text-decoration: none;
  }
}

.card{
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  .card-title{
    color: map-get($colors, blackText);
  }
  .card-text{
    color: map-get($colors, grayText);
  }
}