@-webkit-keyframes bgEasy {
  0% {
    background-position: 92% 0%;
  }
  50% {
    background-position: 9% 100%;
  }
  100% {
    background-position: 92% 0%;
  }
}

@keyframes bgEasy {
  0% {
    background-position: 92% 0%;
  }
  50% {
    background-position: 9% 100%;
  }
  100% {
    background-position: 92% 0%;
  }
}

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

header {
  height: 50vh;
  width: auto;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(219deg, #00b0a3, #8700aa);
  background-size: 400% 400%;
  -webkit-animation: bgEasy 21s ease infinite;
  animation: bgEasy 21s ease infinite;
}

.container-fluid {
  padding: 0px !important;
}

.mainAction {
  position: relative;
  top: 25%;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
}

section {
  padding-top: 35px;
  padding-bottom: 35px;
}

.card:hover {
  -webkit-box-shadow: 5px 5px 20px #e6e6e6;
          box-shadow: 5px 5px 20px #e6e6e6;
  -webkit-transition: box-shadow 0.2s;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.card:hover a {
  text-decoration: none;
}

.card {
  -webkit-transition: box-shadow 0.2s;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.card .card-title {
  color: black;
}

.card .card-text {
  color: gray;
}
/*# sourceMappingURL=main.css.map */